#home {
  height: 100vh;
  margin-bottom: 5rem;
}

#home-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--bg) center/cover no-repeat;
  filter: blur(7.5px);
}

#home-text {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  padding: 1rem;
  gap: 0;
}

.project,
.project * {
  transition: color 0.35s ease;
  transition: background-color 0.35s ease;
}

.project:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  
  .bg-gold {
    background-color: var(--gold);
  }
  .bg-blue {
    background-color: var(--blue);
  }
  .c-blue {
    color: var(--blue);
  }
}

.project-icon {
  height: 4rem;
  width: 4rem;
  background-color: var(--white);
  -webkit-mask: var(--mask-url) no-repeat center / cover;
  mask: var(--mask-url) no-repeat center / cover;
}

.project-name {
  font-size: 1.5rem;
  text-wrap: nowrap;
  overflow: hidden;
  margin: 1rem 0 0;
}

.project-description {
  line-height: 1.5;
}

.project-tool {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.tool-list {
  display: flex;
  gap: 0.5rem;
}

.tool-text {
  margin: 0;
}

.github-link {
  font-size: 1.25rem;
  color: var(--black);
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  background-color: var(--white);
  margin-top: 1.25rem;
}