#about-me {
  height: 90vh;
  width: 100%;
  background-color: darkgoldenrod;
}

#about-text {
  position: absolute;
  top: 40%;
  left: 15%;
}

.section {
  padding: 15vh 15vw;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.project {
  background-color: darkmagenta;
  width: 20vw;
  height: 20vh;
}

#projects {
  background-color: darkgreen;
}

#skills {
  background-color: darkslateblue;
}