#about-me {
  height: 90vh;
  width: 100%;
  background-color: darkgoldenrod;
}

#about-text {
  position: absolute;
  top: 40%;
  left: 15%;
}

section {
  padding: 15vh 15vw;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  background-color: darkmagenta;
  padding: 1rem;
  gap: 0;
}

.project-icon {
  height: 4rem;
}

.project-name {
  font-size: 1.5rem;
  text-wrap: nowrap;
  overflow: hidden;
  margin: 1rem 0 0;
}

.project-description {
  line-height: 1.5;
}

.project-tool {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.tool-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tool-text {
  border: solid;
  border-color: black;
  border-width: 0.2rem;
  border-radius: 1rem;
  height: 1rem;
  padding: 0.25rem 0.75rem;
  margin: 0;
}

.github-link {
  font-size: 1.25rem;
  color: inherit;
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  margin-top: 1.25rem;
}

#projects {
  background-color: darkgreen;
}

#skills {
  background-color: darkslateblue;
}