#about-me {
  height: 90vh;
  width: 100%;
  background-color: darkgoldenrod;
}

#about-text {
  position: absolute;
  top: 40%;
  left: 15%;
}

.section {
  padding: 15vh 15vw;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project {
  background-color: darkmagenta;
  padding: 1rem;
  flex: 1;
}

.project-name {
  font-size: 1.5rem;
}

.tool-list {
  display: flex;
  gap: 0.25rem;
}

.tool-text {
  border: solid;
  border-color: black;
  border-width: 0.2rem;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

#projects {
  background-color: darkgreen;
}

#skills {
  background-color: darkslateblue;
}