:root {
  --black: #191516;
  --grey: #757780;
  --blue: #3626A7;
  --gold: #FFA400;
  --white: #DDDDDD;
  color: var(--white);
  background-color: var(--black);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-top: 1.25rem;
  margin-bottom: 0.65rem;
}

section {
  padding: 2rem 15vw 3rem;
}

ul,li { 
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}